{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "transform-class-properties",
    "react-hot-loader/babel"
  ],

  "env": {
    "test": {
      "plugins": [
        "@babel/transform-runtime"
      ]
    }
  }
}
