#about {
  background: #2B2B2B;
  color: #636363;
  padding-top: 64px;
  padding-bottom: 66px;
  overflow: hidden;
}

/*#about a, #about a:visited  { color: #fff; }*/
/*#about a:hover, #about a:focus { color: #11ABB0; }*/

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

#about p {
  line-height: 30px;
  color: #7A7A7A;
}

#about .profile-pic {
  position: relative;
  width: 75%;
  border-radius: 100%;
  border: 7px solid white;
}

#about h1 {
  text-align: center;
  margin-top: 24px;
}

#about .interest{
  margin-bottom: 24px;
  margin-left: -15px;
}

#about .interest .icon {
  font-size: 36px;
  color: #fff;
}
