#skills-breakdown {
  background: #191919;
  padding-top: 64px;
  padding-bottom: 72px;
  overflow: hidden;
}

#skills-breakdown h2 {
  color: #fff;
  font: 40px 'opensans-bold', sans-serif;
  text-align: center;
}

#skills-breakdown .instruction {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

#skills-breakdown .path {
  color: #fff;
  text-align: center;
  height: 30px;
}

#skills-breakdown .diagram {
  margin-left: auto;
  margin-right: auto;
}
