#contact {
  background: #191919;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#contact h2 {
  font: 40px 'opensans-bold', sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 75px;
}

#contact {
  background: #191919;
  padding-top: 96px;
  padding-bottom: 102px;
  color: #636363;
}

#contact h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #EBEEEE;
  margin-bottom: 6px;
}

#contact h1 span { display: none; }
#contact h1:before {
  font-family: 'FontAwesome';
  content: "\f0e0";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #ebeeee;
}

#contact h4 {
  font: 16px/24px 'opensans-bold', sans-serif;
  color: #EBEEEE;
  margin-bottom: 6px;
}

/* Contact Form */
#contact form { margin-bottom: 30px; }
#contact label {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin: 12px 0;
  color: #EBEEEE;
  display: inline-block;
  float: left;
  width: 26%;
}
#contact input,
#contact textarea,
#contact select {
  padding: 18px 20px;
  color: #eee;
  background: #373233;
  margin-bottom: 12px;
  border: 0;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
  color: #fff;
  background-color: #11ABB0;
}
#contact button.submit {
  text-transform: uppercase;
  letter-spacing: 3px;
  color:#fff;
  background: #0D0D0D;
  border: none;
  cursor: pointer;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  padding: 12px 20px;
}
#contact button.submit:hover {
  color: #0D0D0D;
  background: #fff;
}
#contact span.required {
  color: #11ABB0;
  font-size: 13px;
}

#contact .error {
  text-align: center;
  color: #11ABB0;
}

/* Social Network Links*/
#contact .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
#contact .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

#contact .social li a { color: #fff; }
#contact .social li a:hover { color: #11ABB0; }

/* Widgets */
#contact .widget_contact {
  padding-left:15px;
}


