#skills-distribution {
  background: #191919;
  padding-top: 64px;
  padding-bottom: 72px;
  overflow: hidden;
  color: #fff;
}

#skills-distribution .chart {
  margin-left: auto;
  margin-right: auto;
}
