
#experience {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#experience h2 {
  font: 40px 'opensans-bold', sans-serif;
  text-align: center;
  margin-bottom: 75px;
}
